<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior0">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="metadataBehavior0" name="ServiceSepatu.Sepatu">
        <endpoint binding="basicHttpBinding"
            bindingConfiguration="" name="EndpointService" contract="ServiceSepatu.ISepatu" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" name="EndpointMex"
            contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1907" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>